@font-face {
    font-family:ajetreados;
    src: url(../Font/ajetreados.ttf);
}

html {
    background-color: rgb(0, 0, 0);
}

.menu {
    display: none;
}   
.menu-icon:focus + .menu,
.menu:hover {
    display: block;

}

.menu-icon {
    font-size: 32px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin-left: 20px;
    top: 30px;
    z-index: 2;
}

.menu ul { 
    font-family:ajetreados;
    list-style: inside;
    margin: 10;
    padding: 15;
    background: #d4d0d0;
    border: 3px solid #ccc;
    position: absolute;
    top: 60px;
    left: 27;
    z-index: 2;
}

.menu ul li {
    font-family:ajetreados;
    padding: 10px;
    right: 40px;
    
}
.menu ul li a {
    text-decoration:none;

}
.menu ul li:hover {
    background: #bb7878;
    text-decoration:underline

}
.logoajemain img {
    padding: 20px;
    margin: 50px;
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    
}
header nav ul {
    list-style: none;
    z-index: 2;
}
.barnav {
    padding: 2px;
}

.iconos {
    position: absolute;
    padding: 5px;
    margin: 10px;
}
.footermain {
    padding: 3px;
}

.parrafoot {
    color: white;
    font-family:ajetreados;
}

.footerimg {
    background-image:url(../images/footerfondoimg.svg);

}

/** ¿Que es AjE?**/

#logo {
    padding: 20px;
    margin: 5px;
}

h1{
    color: #ffffff;
    font-family:ajetreados;
    margin: 20px;
    padding: 40px;
}

.qea {
    color: #ffffff;
    font-family:ajetreados;
    margin: 40px;
}

.preview {
    text-align: center;
    padding: 120px;
}

.img {
    z-index: -1;
    padding: 40px;
    height: 270px;
    width: 460px;
}

.flechaqea {
    color: #ffffff; 
}
.decor {
    padding: 20px;

} 

/** tienda **/


.item {
    color: #ffffff;
    font-family:ajetreados;
    text-align: left;
    padding: 5px;
    margin-left: 40px;

}
.botones {
    margin: 5px;
    padding: 10px;
}
body section div {
    padding: 10px;
    margin: 20px;
}
.imgtp {
    height: 340px;
    width: 450px;
    border: 2px solid white;
    padding: 10px;
    margin: 40px;
    
}
.imgt {
    height: 120px;
    width: 200px;
    border: 2px solid white;
    padding: 30px;
    margin: 10px;
}


.decortienda {
justify-items: left;
}  

/** Noticias **/
.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
}
/** carrito **/

.carritologo {
    padding: 20px;
    margin: 5px;
}

.carritomain {
    padding: 20px;
    margin: 10px;
}

.listado {
    padding: 30px;
    margin: 20px;
}