@import "./base/vars";
@import "./base/listas";
@import "./base/extend";
@import "./base/mixin";
@import "./base/partial";


@import "./componentes/header";
@import "./componentes/index";
@import "./componentes/footer";

.tp {
    @extend .tpc;
  
    color: map-get($colors, white);
  }
  
  .tpc {
    font-family: $font-family;
    color: map-get($colors, red);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  
  .tpc2 {
    @extend .tpc
  ;
  
  color: map-get($colors, white);
  }
  
  .tp4 {
  font-family: $font-family;
  font-size: map-get($font-size, tp4);
  color: map-get($colors, white);
  }
  
  .tp5 {
  font-family: $font-family;
  font-size: map-get($font-size, tp5);
  color: map-get($colors, white);
  opacity: 1;
  }
  
  .fondonegro {
  background-color: black;
  color: white;
  }
  
  body {
  padding: 0;
  border: 0;
  }
  
  .divheader {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  }
  
  .divheader2 {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  }
  
  .ulclass {
  display: flex;
  justify-content: flex-end;
  }
  
  .itemcentrados {
  align-items: center;
  }
  
  .posrelative {
  position: relative;
  }
  
  .marright1 {
  margin-right: 1rem;
  }
  
  .martop1 {
  margin-top: 1.5rem;
  }
  
  .espacioiconos {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  }
  
  .textocentro {
  text-align: center;
  }
  
  .opacidad {
  opacity: 0.5;
  }
  
  .carousel-item img {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  }
  
  .menu-desplegable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
  &.show {
  max-height: 200px;
  }
  }
  
  .bg-image {
  background-size: 100% auto;
  background-position: center center;
  }

  .ajeimg {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -27%; 
  }
  
  @media (max-width: 863px) {
    .ajeimg {
      top: calc(50% - 400px);
    }
  }

  .btn.bordecomprar {
    @include btn($button-background, $button-color, $button-border);
  }