$font-family: ajetreados;

$colors: (
  white: white,
  red: #dd1818cc,
  black: black
);

$font-size: (
  tp4: 13px,
  tp5: 14px
);

$button-background: #dd1818cc;
$button-color: white;
$button-border: #ffffff;
